<style>
  h1 {
    border-bottom: 1px solid #999;
    padding-bottom: 0px;
    width: 100%
  }
</style>

<style> 
  body {
    font-family: Arial, sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 25px 0;
  }

  th {
    padding: 10px;
    text-align: center;
  }
  
th:nth-child(1) { background-color: rgb(224,224,223); border-top: 3px solid rgb(171,171,171); border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }
th:nth-child(2) { background-color: rgb(225,243,195); border-top: 3px solid rgb(132,158,79); border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }
th:nth-child(3) { background-color: rgb(197,215,241); border-top: 3px solid rgb(66,110,159); border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }
th:nth-child(4) { background-color: rgb(224,213,232); border-top: 3px solid rgb(103,85,142); border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }
th:nth-child(5) { background-color: rgb(241,220,201); border-top: 3px solid rgb(218,132,44); border-right: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }

td {
    background-color: rgb(240,240,240);
    text-align: center;
    padding: 10px;
    border: 2px solid white;
  }

th:nth-child(4), td:nth-child(4) {
      width: 130px;
    }

.fonte {
      font-size: 12px;
      color: #999;
      margin-top: -20px;
    }
</style>